#contenedor {
    display: table;
    width: 980px;
    margin: 0 auto;
}

#caja-1, #caja-2 {
    display: table-cell;
    padding: 5px;
}

#caja-1 {
    background-color: #eee;
    width: 30%;
}

#caja-2 {
    background-color: #bbb;
    width: 70%;
}

p, h3 {
    margin: 0;
}