.width {
    border: 2px solid black;
    width: 350px;
}

.minwidth {
    border: 2px solid black;
    min-width: 350px;
}

.maxwidth {
    border: 2px solid black;
    max-width: 250px;
}

.cajas {
    position: relative;
    width: 200px;
    height: 90px;
    padding: 10px;
    border: 10px solid #333;
}

#caja-1 {
    top: 50px;
    left: 20px;
    box-sizing: content-box;
}

#caja-2 {
    top: 200px;
    left: 50px;
    box-sizing: border-box;
}