table {
    width: 200px;
    background-color: rgb(185,205,225);
    text-align: center;
    margin: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

#round {
    width: 250px;
    height: 108px;
    border-radius: 1em;
    border: 1px solid gray;
    background-image: url(../img/border.png);
}