.align1 {
    vertical-align: super;
}

.align2 {
    vertical-align: baseline;
}

.align3 {
    vertical-align: sub;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 200px;
}

td {
    border: 1px solid gray;
    width: 100px;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}