body {
    font-family: sans-serif;
    text-align: center;
}

.layout{
    width: 1200px;
    margin: 0 auto;
    display: grid; /*Definir el grid layout*/
    grid-gap: 10px; /*Dar margenes entre los elementos del linearGradient*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    border: 3px solid orangered;
    padding: 10px;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    background: gray;
}

.layout .red {
    grid-column: 1 / 3;;
    background: red;
}

.layout .blue{
    background: blue;
}

.layout .green{
    background: green;
}

.layout .pink{
    background: palevioletred;
}